* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: inherit;
}
*::selection {
  background-color: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Monokio", sans-serif;
}

img {
  width: 100%;
}

.container {
  display: flex;
}
.container .tools {
  max-width: 450px;
  padding: 50px;
  padding-top: 10px;
  background-color: rgba(69, 144, 191, 0.726);
  height: 100vh;
}
.container .tools .title {
  font-size: 24px;
  color: #444;
}
.container .tools .shape {
  display: flex;
  align-items: center;
  width: 100%;
}
.container .tools .shape:hover > * {
  color: rgb(38, 136, 102);
  cursor: pointer;
}
.container .tools .shape:first-of-type {
  margin-top: 20px;
}
.container .tools .icon {
  font-size: 60px;
  transform: translateY(-21px);
  width: 40px;
  height: 40px;
  color: #444;
}
.container .tools .triangle {
  transform: translate(-14px, -28px);
  font-size: 80px;
}
.container .tools .name {
  margin-left: 6px;
  font-size: 22px;
  color: #444;
}
.container .tools .section-2 {
  margin-top: 25px;
}
.container .tools .section-2 .erase-btn {
  margin-top: 10px !important;
}
.container .tools .section-2 .erase-btn,
.container .tools .section-2 .brush-btn {
  display: flex;
  margin-top: 20px;
}
.container .tools .section-2 .erase-btn:hover > *,
.container .tools .section-2 .brush-btn:hover > * {
  color: rgb(38, 136, 102);
  cursor: pointer;
}
.container .tools .section-2 .erase-btn .erase,
.container .tools .section-2 .brush-btn .erase {
  width: 40px;
  height: 40px;
  transform: translate(-3px, -9px);
}
.container .tools .section-3 {
  display: flex;
  flex-direction: column;
}
.container .tools .section-3 > h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .tools .section-3 .color {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
}
.container .tools .section-3 .color:hover {
  transform: scale(1.1);
}
.container .tools .section-3 .row-1 .color:nth-child(1) {
  background-color: red;
}
.container .tools .section-3 .row-1 .color:nth-child(2) {
  background-color: green;
}
.container .tools .section-3 .row-1 .color:nth-child(3) {
  background-color: black;
}
.container .tools .section-3 .row-2 .color:nth-child(1) {
  background-color: violet;
}
.container .tools .section-3 .row-2 .color:nth-child(2) {
  background-color: blue;
}
.container .tools .section-3 .row-2 .color:nth-child(3) {
  background-color: yellow;
}
.container .tools .section-3 .row-3 .color:nth-child(1) {
  background-color: brown;
}
.container .tools .section-3 .row-3 .color:nth-child(2) {
  background-color: aqua;
}
.container .tools .section-3 .row-3 .color:nth-child(3) {
  background-color: orange;
}
.container .tools .section-3 .row-4 .color:nth-child(1) {
  background-color: bisque;
}
.container .tools .section-3 .row-4 .color:nth-child(2) {
  background-color: gray;
}
.container .tools .section-3 .row-4 .color:nth-child(3) {
  background-color: skyblue;
}
.container .tools .section-3 .row {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.container .tools .section-3 .set-color {
  width: 100%;
  margin-top: 30px;
  height: 40px;
  cursor: pointer;
}
.container .tools .section-4 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 15px;
}
.container .tools .section-4 > button {
  padding: 15px;
  font-size: 19px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: #444;
  transition: all 0.6s;
}
.container .tools .section-4 > button:hover {
  background-color: rgb(38, 136, 102);
  color: #eee;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 20px;
  background: #ddd;
  outline: none;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 25px 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: rgb(38, 136, 102);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.active {
  border: 6px solid rgb(38, 136, 102);
  transition: all 0.4s;
}

.canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.selected > * {
  color: rgb(38, 136, 102) !important;
}

#brush-img {
  width: 40px;
  height: 40px;
  transform: translateY(-5px);
}/*# sourceMappingURL=style.css.map */